sudo: required
dist: trusty
language: ruby

before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: xeZ5+ZGddj9GV7LhGydGcxPsWfMUn6mYi9yZIOXgfhX49/UEkk0fH6YT9Vlcu3WN6doqrsUZcMYU4lGR88PibjI7uG6MzQKEC952DcKbT25jBbQ+HS2yaNWGZ/jEMROK38n4AJehtBUTMQ4TUX0bQKIw0CqGYlHhGsJLNgcHn7/N64lYqMIEF/JCf0pNlLidC9cT/ZT0/J7NEzPX6feJNlmKGGAuIwYuPK6kYE1vIyutNQn1rzDSmEZXpEQ4q5XLTDBWQOVwLDWRDHegLqEDk0fx+3XOaPuCRtOLKpeidGtdcaZFtlGtOsi69x+6U+EkvJGbuQeBRWcA0oQHDMi1+e2E6IvGpmI+JAUTYxAHY0yOZ9vlcwzSdo13z6sfeC8ERONzp608TCNzZW5PAOLrpTft7gpVQ7cVO1IF5UUXs5TpSwNaJ2vxmIwkQRa/aEh5yTrQQurofM6jisC/D/fKkfI8ndP35YwVOxUyeF5TF0YjGmcBHvE3+J9xbjXTvoNKNS/1g3nsFu+7eOZ+UJ1HAhpYKS9uqU8Oo+n+y554SPd+ogGidKugz3jllBKocGNIiEwrFMSJ2i21gCHi2iYXr7R+iZHUmFkC+VCckS3GcXRLwQy0eo0nnZTNv10wmQiW7p+S2xSzyQ9GupHxasrcsXSfiQsoZaQfGUfP3S84AAY=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  on:
    repo: GITenberg/Essays-of-Michel-de-Montaigne---Volume-05_3585
    tags: true
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy